

#player1 {
  width: 40%;
  margin-right: 25px;
  float: left;
  padding: 50px;
  border: solid purple 3pt;
  color: purple;
  /* border-right: solid 3pt; */
}

#player2 {
  width: 50%;
  float: right;
  padding: 50px;
  border: solid blue 3pt;
  color: blue;

}

/* body {
  background-color: black;
} */

header {
  position: relative;
  width: 50%;
  margin: 25px auto;
  /* padding: 25px; */
  text-align: center;
  color: black;
  z-index: 2;
}

.container {
  position: relative;
  margin-top: -100px;
  padding: 100px 50px 50px 50px;
  width: 80%;
  z-index: 0; 
}

.card {
  margin: 25px auto;
  min-width: 50%;
  max-width: 500px;
  border: solid red 3pt;
}

.card-header {
  background-color: red;
  font-size: 36pt;
  color: white;
}

.card-body {
  background-color: lighgrey;
  border-radius: inherit;
}

.btn {
  border: solid lightgrey 1pt;
}

#result {
  padding: 50px;
  border: solid magenta 3pt;
  color: magenta;
  width: 80%;
  text-align: center;
  margin: 25px auto;
}

#form {
  padding: 25px;
}

#message {
  padding: 5px;
  width: 100%;
  height: auto;
}

#go {
  margin-top: 25px;
}
